@media (max-widht: 767px) {
    .imagengaleria {
        max-width: 90%;
        margin: auto;
    }

    .tituloPrincipal {
        display: none;
    }

    .introgaleria {
        display: none;
    }
}